* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  color: white;
  font-family: Helvetica;
  font-size: 22px;
  opacity: 0.9;
  text-align: center;
}

header {
  align-items: center;
  background-color: black;
  border-bottom: 1px solid seashell;
  display: flex;
  height: 69px;
  justify-content: space-between;
  padding: 0 10px;
  position: fixed;
  top: 0;
  width: 100%;
}

.logo {
  width: 150px;
}

.logo img {
  height: auto;
  max-height: 50px;
  width: 100%;
}

.links-container {
  column-gap: 20px;
  display: flex;
  list-style-type: none;
}

.nav-link {
  color: inherit;
}

#mission {
  align-items: center;
  background-image: url('../images/img-mission-background.webp');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 700px;
  justify-content: center;
  margin: 69px auto 40px;
  width: 1200px;
}

.mission-text {
  background-color: black;
  line-height: 1.5;
  padding: 5px 0;
  width: 100%;
}

#featured-tea {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 40px auto;
  padding: 20px 0;
  row-gap: 40px;
  width: 1000px;
}

.featured-text {
  line-height: 1.5;
}

.featured-images {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.featured-images figure {
  width: 300px;
}

.featured-images img {
  height: auto;
  max-height: 200px;
  width: 100%;
}