* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  color: white;
  font-family: Helvetica;
  font-size: 22px;
  opacity: 0.9;
  text-align: center;
}

header {
  align-items: center;
  background-color: black;
  border-bottom: 1px solid seashell;
  display: flex;
  height: 69px;
  justify-content: space-between;
  padding: 0 10px;
  position: fixed;
  top: 0;
  width: 100%;
}

.logo {
  height: 50px;
  max-width: 150px;
}

.logo img {
  height: 100%;
  object-fit: contain;
}

.links-container {
  column-gap: 20px;
  display: flex;
  list-style-type: none;
}

.nav-link {
  color: white;
}

#mission {
  align-items: center;
  background-image: url('../images/img-mission-background.webp');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 700px;
  justify-content: center;
  margin: 69px auto 40px;
  max-width: 1200px;
}

.mission-text {
  background-color: black;
  line-height: 1.5;
  padding: 5px 0;
  width: 100%;
}

#featured-tea {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 40px auto;
  max-width: 1000px;
  padding: 20px 0;
  row-gap: 40px;
}

.featured-text {
  line-height: 1.5;
}

.featured-images-container {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.featured-images-container figure {
  max-width: 300px;
}

.featured-images-container img {
  height: auto;
  max-height: 200px;
}

#locations {
  align-items: center;
  background-image: url('../images/img-locations-background.webp');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 40px auto 0;
  min-height: 500px;
  max-width: 1200px;
  padding: 20px 0;
  row-gap: 15px;
}

.locations-container {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
}

.locations-container article {
  background-color: black;
  opacity: 1;
  padding-top: 20px;
  width: 300px;
}

.locations-container article * {
  padding-bottom: 30px;
}

footer address {
  font-style: normal;
  height: 200px;
}

footer address * {
  padding-bottom: 30px;
}

footer address ~ p {
  margin-bottom: 20px;
  margin-left: 20px;
  text-align: left;
}
